# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
PythonCodes/LibFolder/__pycache__/GeneratePaperFigs.cpython-37.pyc
PythonCodes/LibFolder/__pycache__/GeneratePaperFigs.cpython-38.pyc
PythonCodes/LibFolder/__pycache__/Lib_GeneralFunctions.cpython-35.pyc
PythonCodes/LibFolder/__pycache__/Lib_GeneralFunctions.cpython-37.pyc
PythonCodes/LibFolder/__pycache__/Lib_GeneralFunctions.cpython-38.pyc
PythonCodes/LibFolder/__pycache__/Lib_GeneralSignalProcNAnalysis.cpython-35.pyc
PythonCodes/LibFolder/__pycache__/Lib_GeneralSignalProcNAnalysis.cpython-37.pyc
PythonCodes/LibFolder/__pycache__/Lib_GeneralSignalProcNAnalysis.cpython-38.pyc
PythonCodes/LibFolder/__pycache__/Lib_ProfilePlotting.cpython-35.pyc
PythonCodes/LibFolder/__pycache__/Lib_ProfilePlotting.cpython-37.pyc
PythonCodes/LibFolder/__pycache__/Lib_ProfilePlotting.cpython-38.pyc
PythonCodes/LibFolder/__pycache__/Lib_ProfileProcessing.cpython-35.pyc
PythonCodes/LibFolder/__pycache__/Lib_ProfileProcessing.cpython-37.pyc
PythonCodes/LibFolder/__pycache__/Lib_ProfileProcessing.cpython-38.pyc
PythonCodes/LibFolder/__pycache__/Lib_SigmoidProcessing.cpython-35.pyc
PythonCodes/LibFolder/__pycache__/Lib_SigmoidProcessing.cpython-37.pyc
PythonCodes/LibFolder/__pycache__/Lib_SigmoidProcessing.cpython-38.pyc
PythonCodes/.vscode/settings.json
PythonCodes/LibFolder/Lib_GeneralFunctions.pyc
PythonCodes/LibFolder/Lib_SigmoidProcessing.pyc
